@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=fallback');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #131313;
	--primary: #ffffff;
	--accent: #a0a0a0;
}

body {
	font-family: 'Inter';
	background-color: var(--background);
	color: var(--primary);
}

input {
	font-family: Inter, sans-serif;
	font-size: 16px;
	font-weight: 400;
}
